<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorator="layout/main.html">

<div class="container">
    <div class="row" layout:fragment="mainContainer">
        <div class="col-sm-11">
            <div class="row">
                <div class="col-sm-4 mt-4" th:each="schoolsuplies:${allSchoolsuplies}">
                    <div class="card">
                        <img th:src="${schoolsuplies.image}" style="min-height: 400px;" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${schoolsuplies.name}"></h5>
                            <p class="card-text" th:text="${schoolsuplies.description}" style="min-height: 120px;">
                            </p>
                            <a th:href="@{'/detailSchool/' + ${schoolsuplies.id}}" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>