<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorator="layout/mainAdmin.html">
<div class="container">
    <div class="row" layout:fragment="mainContainerAdmin">
            <form th:action="@{'/addart'}" method="post">
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label>NAME ART</label>
                                    <input type="text" class="form-control" name="name">
                                </div>
                                <div class="form-group">
                                    <label>PRICE</label>
                                    <input type="number" class="form-control" name="price">
                                </div>
                                <div class="form-group">
                                    <label>Image</label>
                                    <input type="text" class="form-control" name="image">
                                </div>
                                <div class="form-group">
                                    <label>ART DESCRIPTION</label>
                                    <input type="text" class="form-control" name="description">
                                </div>
                                <div class="form-group">
                                    <label>MANUFACTURER</label>
                                    <input type="text" class="form-control" name="manufacturer">
                                </div>
                                <div class="form-group">
                                    <label>COUNTRY</label>
                                    <select name="country_id" class="form-control">
                                        <option th:each="country:${allCountries}" th:value="${country.id}" th:text="${country.name}"></option>
                                    </select>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-success">ADD</button>
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">CANCEL</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="card">
                <div class="card-header" style="display: flex">
                    <label style="margin-top: 5px;width: 89%">List of all Art</label>
                    <a type="button" class="btn btn-sm btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Add Art
                    </a>
                </div>
            </div>
            <table class="table table-hover text-center">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Manufacturer</th>
                    <th>Price</th>
                </tr>
                </thead>
                <tbody th:each="art:${allArt}">
                <tr>
                    <td th:text="${art.name}"></td>
                    <td th:text="${art.manufacturer}"></td>
                    <td th:text="${art.price}"></td>
                    <td class="float-right mr-5">
                        <a th:href="@{'editart/'+${art.getId()}}">
                            <buxatton type="button" class="btn btn-success">EDIT</buxatton>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</html>
