<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.uz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="layout/mainStart.html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{'/signIn/registration1.css'}">
</head>
<body>
<div class="row" layout:fragment="mainContainer">
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->
            <h2 class="active" th:text="#{label.signup}"></h2>

<!--            &lt;!&ndash; Icon &ndash;&gt;-->
<!--            <div class="fadeIn first">-->
<!--                <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon"/>-->
<!--            </div>-->

            <!-- Login Form -->
            <form th:action="@{'/tosignup'}" method="post">
                <input type="email" id="login" class="fadeIn second" name="user_email" th:placeholder="#{label.email}">
                <input type="password" id="password" class="fadeIn third" name="user_password" th:placeholder="#{label.password}">
                <input type="password" id="re_password" class="fadeIn third" name="re_user_password" th:placeholder="#{label.repassword}">
                <input type="text"  id="full_name" class="fadeIn third" name="user_fullname" th:placeholder="#{label.fullname}">
                <input type="submit" class="fadeIn fourth" th:value="#{button.signup}">
            </form>

            <!-- Remind Passowrd -->
            <div id="formFooter">
                <a class="underlineHover" href="#" th:text="#{label.forgot}"></a>
            </div>

        </div>
    </div>
</div>
<!--<script type="text/javascript" th:src="@{'/signIn/registration.js'}"></script>-->
</body>
</html>